/* div.MuiTabs-flexContainer > .MuiButtonBase-root{
    min-width: 10px !important;
    max-width: 10px !important;
    
}  */

/* span.css-cvw814-MuiButtonBase-root-MuiTab-root{
    max-width: 15px !important;
    min-width: 15px !important;
    padding: 0px !important;
    margin: 10px !important;
    width: 15px !important;
    min-height: 15px !important;
    
    border-radius: 50px !important;
    background-color:black ;
    opacity: 0.5;

} */
span.MuiTab-root{
    max-width: 15px !important;
    min-width: 15px !important;
    padding: 0px !important;
    margin: 10px !important;
    width: 15px !important;
    min-height: 15px !important;
    
    border-radius: 50px !important;
    background-color:black ;
    opacity: 0.5;
}